{% extends 'layout/base.html' %}

{% block title %}
Login || Todo App
{% endblock title %}

{% block body %}
{% include 'layout/header.html' %}
    <main class="container">
        <form class="form-login" action="/home/log/" method="post">
            {% csrf_token%}

            <input name="username" type="text" placeholder="UserName">
            <input name="password" type="password" placeholder="PassWord">
            <button type="submit">Login</button>
        </form>

    </main>
{% include 'layout/footer.html' %}
{% endblock body %}